EXPO_PUBLIC_FLARE_SUPABASE_URL=
EXPO_PUBLIC_FLARE_SUPABASE_ANON_KEY=
EXPO_PUBLIC_FLARE_AUTH_REDIRECT_URL=
FLARE_SUPABASE_URL=
FLARE_SUPABASE_PROJECT_ID=
FLARE_SUPABASE_SERVICE_ROLE_KEY=
FLARE_SUPABASE_DB_URL=
GROUPME_TEST_GROUP_ID=
GROUPME_TEST_GROUP_NAME=
GROUPME_TEST_BOT_ID=
FLARE_APP_ENV=
